$heavent-bold: DB Heavent Bd;
$heavent-reg: DB Heavent Reg;
$heavent-normal: DB Heavent Nor;

@mixin font-format($font, $weight, $size, $height, $hexcolor) {
  font-family: $font  !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor  !important;
}

.grid-funnel {
//   border: solid 1px #ccc;
//   background: white;
//   border-radius: 8px;
//   overflow: hidden;
//   padding-bottom: 40px;
//   overflow: auto;
  padding-bottom: 20px;
}

.funnel-box {
  font-size: 14px;
  background: white;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}
.dragdrop {
  overflow-x: hidden;
}

.mat-card {
  height: 90px;
  border-radius: 0px;
  box-shadow: 0 5px 5px -3px rgba(255, 255, 255, 0.2),
    0 8px 10px 1px rgba(255, 255, 255, 0.14),
    0 3px 14px 2px rgba(255, 255, 255, 0.12);
}

.funnel-value {
  text-align: right;
  padding-right: 100px;
}

.funnel-clear {
  @include font-format($heavent-normal, 700, 16px, 19px, #491DC5);
  text-decoration-line: underline;
  margin: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.funnel-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .funnel-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.BGfunnel0 {
  background-color: #EDE8F9;
  // width: 400px;
}

.BGfunnel1 {
  background-color: #DBD2F3;
  // width: 210px;
}

.BGfunnel2 {
  background-color: #C8BBED;
  // width: 200px;
}

.BGfunnel3 {
  background-color: #B6A5E8;
  // width: 190px;
}

.BGfunnel4 {
  background-color: #A48EE2;
  // width: 180px;
}

.BGfunnel5 {
  background-color: #9278DC;
  // width: 170px;
}

.BGfunnel6 {
  background-color: #7F61D6;
  // width: 160px;
}

.BGfunnel7 {
  background-color: #6D4AD0;
  // width: 150px;
}

.BGfunnel8 {
  background-color: #5B34CA;
  // width: 86px;
}

.BGfunnel9 {
  background-color: #491DC5;
  // width: 79px;
}

.popper-header {
  @include font-format($heavent-normal, 700, 14px, 17px, #000000);
}

.popper-detail {
  width: 240px;
  @include font-format($heavent-normal, 400, 14px, 17px, #000000);
  padding-top: 5px;
}