<div class="container">
    <div class="grid-funnel" cdkDropList (cdkDropListDropped)="drop($event)">
        <!-- <div fxLayoutAlign="end start" class="funnel-clear">
            Clear All
        </div> -->
        <div class="row funnel-box" *ngFor="let item of funnelList; let i = index, let j = index" cdkDrag>
            <div class="col-5" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center center">
                <span [popper]="popperContent" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
                    [popperPlacement]="placements.TOP">
                    <mat-card [ngClass]="{color0: i == 0, color1: i == 1, color2: i == 2, color3: i == 3, color4: i == 4, 
                        color5: i == 5, color6: i == 6, color7: i == 7, color8: i == 8, color9: i == 9}">
                    </mat-card>
                </span>
            </div>

            <div class="col-7 row">
                <div class="col-8">{{item.name}}</div>
                <div class="col-4 funnel-value">{{item.value}}</div>
            </div>
            <popper-content #popperContent>
                    <span class="popper-header">{{ item.name }}</span>
                    <div class="row popper-detail">
                        <span class="col-4">25 - 34</span><br />
                        <span class="col-8 text-start">Count : 20,000,000 (50%)</span>
                    </div>
                    <div class="row popper-detail">
                        <span class="col-4">35 - 44</span><br />
                        <span class="col-8 text-start">Count : 20,000,000 (50%)</span>
                    </div>
            </popper-content>
        </div>
    </div>
</div>