<div fxLayout="row" class="grid-item full-height">
    <div fxLayout="column" fxFlex>
        <div class="grid-item-layout">
            <div class="p-4">
                <img src="../../../../assets/icons/logo-ac-insight.svg" />
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch" fxFlex>
            <div fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center" class="grid-item-layout p-5">
                <div fxLayout="column" class="text-center p-4">
                    <img src="../../../../assets/icons/welcome.svg" width="250" />
                </div>
            </div>
            <div fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center" class="grid-item-layout p-5">
                <div fxLayout="column" class="text-center p-4">
                    <span class="font-42px">Actionable <font class="font-blue">Insight</font></span>
                    <span class="font-14px mt-3">Ready to Work on the Biggest Data Project of all Time?</span>
                    <input type="text" class="p-3 my-4 project-name" placeholder="Enter Your Project Name" />
                    <div fxLayoutAlign="center center">
                        <button class="btn btn-blue font-16px">Let’s Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-kpi-by-product></app-kpi-by-product>