<div fxFill class="pb-3 border-close">
  <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
    <div fxFlex="70" class="header1 py-2">
      <span>{{subLocation?.feature_name!}}&nbsp;
        <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
          [popperPlacement]="placements.RIGHT">
          <img src="./assets/icons/info.svg" width="15" height="15" />
        </span>
      </span>
      <popper-content #popperContent_age>
        <span>{{subLocation?.description!}}</span><br />
      </popper-content>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <div fxLayout="row">
        <div fxFill class="text-end text-user">
          <span>0 users</span>
        </div>
        <div fxFlex></div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10" fxFill>
    <div fxFlex="20" class="custom-from">
      <select class="form-select input-select-option font-IsNot" aria-label="Default select example">
        <option value="1" selected>Is</option>
        <option value="2">Not</option>
      </select>
    </div>
    <div fxFlex>
      <div fxLayout="row">
        <div fxFill>
          <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
            [insideClick]='true' fxFill>
            <div fxLayout="row" type="text" class="input-selected-tag">
              <div fxFlex="90" class="py-2">
                <mat-label>
                  <mat-chip-list aria-label="age tags">
                    <mat-chip *ngFor="let tag of proviceDataSelect" (removed)="removeTagProvinceSelect(tag)">
                      {{tag.province_tag}}
                      <button matChipRemove>
                        <img src="./assets/icons/close-tag.svg" class="tag-icon">
                      </button>
                    </mat-chip>
                  </mat-chip-list>
                </mat-label>
              </div>
              <div fxFlex>
                <span id="dropdown-triggers" dropdownToggle class="btn btn-custom">
                  <img src="./assets/icons/dropdown-down.svg" width="8" height="8" />
                </span>
              </div>
            </div>
            <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
              <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
                <div fxLayout="row" class="grid-item-layout">
                  <img src="./assets/icons/search.svg" width="16" class="search-icon">
                  <input fxFill type="text" [(ngModel)]="searchText" placeholder="Search"
                    class="search-input font-14px" />
                </div>
                <span class="subHeader">{{subLocation?.feature_name!}}</span>
                <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout">
                  <mat-selection-list *ngIf="searchText!.length === 0" #shoes [multiple]="false"
                    class="provinceList col">
                    <mat-list-option *ngFor="let pv of locationApiData" [value]="pv" class="col-province"
                      style="height: 24px;">
                      <span (click)="selectProvince(pv)">{{pv.province_name}}</span>
                    </mat-list-option>
                  </mat-selection-list>
                  <mat-selection-list *ngIf="searchText!.length > 0" #shoes [multiple]="false" class="provinceList col">
                    <mat-list-option *ngFor="let pv of locationApiData | locationSearch: searchText!" [value]="pv"
                      class="col-province" style="height: 24px;">
                      <span (click)="selectProvince(pv)">{{pv.province_name}}</span>
                    </mat-list-option>
                  </mat-selection-list>

                  <div class="col-6 box-district" fxFlex *ngIf="show">
                    <div *ngFor="let district of districtDataDisplay">
                      <mat-checkbox [(ngModel)]="district.selected" class="col-district"
                        (ngModelChange)="selectDistrict(currentSelectProvince, district)">
                        <span class="font-12px">{{ district.district_name}}</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
          <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
        </div>
      </div>
    </div>
  </div>
</div>