@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor !important;
}

.mat-form-field + .mat-form-field {
  // margin-left: 8px;
}
mat-expansion-panel {
  width: 100%;
}
mat-expansion-panel-header {
  width: 100%;
  padding: 0;
  margin: 0;
}
.header-style {
  background: #ede8f9;
  border-radius: 5px;
}
.header-style:hover {
  background: #d8cbf8 !important;
}
.title-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.header1 {
  @include font-format(800, 18px, 18px, #491dc5);
}
.header2 {
  @include font-format(700, 16px, 18px, #020202);
}
mat-expansion-panel-body {
  padding: 0;
}
