@font-face {
    font-family: "DB Heavent Bd";
    src: url("/assets/fonts/DB\ Heavent\ Bd\ v3.2.ttf")
}

@font-face {
    font-family: "DB Heavent Reg";
    src: url("/assets/fonts/DB\ Heavent\ Li\ v3.2.ttf")
}