<app-navbar-logo fxHide.gt-sm></app-navbar-logo>

<div fxLayout="column">
    <div fxLayout="row" class="grid-item viewport-100" fxFlex>
        <div fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch" fxFlex>
                <div fxFlex="35" fxLayout="column" fxLayoutAlign="start start" class="grid-item-layout box-left app-filter">
                    <div fxHide.lt-md class="w-100">
                        <app-navbar-logo></app-navbar-logo>
                    </div>
                    <div fxLayout="column" class="grid-item-layout app-filter w-100 pb-3" fxFlex>
                        <div fxLayout="column" class="grid-item-layout" fxLayoutAlign="start start" fxFlex>
                            <app-filter fxFill></app-filter>
                        </div>
                    </div>
                </div>

                <div fxFlex="auto" fxLayout="column" class="grid-item-layout p-5 pb-3">
                    <div fxLayout="row" fxLayoutAlign="start stretch" class="grid-item-layout box-right-top">
                        <div class="grid-item-layout projectname">
                            <span class="font-20px">Project Name : <br />
                                <span matTooltip="INS_SAVING_20220916_CreateYourName"
                                    matTooltipClass="my-custom-tooltip"
                                    aria-label="Button that displays a tooltip when focused or hovered over">
                                    <font class="font-blue">
                                        INS_SAVING_20220916_CreateYourName
                                    </font>
                                </span>
                            </span>
                        </div>
                        <div class="grid-item-layout product-text" fxLayoutAlign="end center" fxFlex>
                            <span class="font-20px">Product : <font class="font-blue">Insurance</font><br>
                                <font class="font-blue">(Saving Insurance)</font>
                            </span>
                        </div>
                    </div>

                    <div fxLayout="column" class="grid-item-layout min-height box-right-bottom w-100 my-4">
                        <div class="funnel-clear" fxLayoutAlign="end end">
                            <span (click)="clearAll()">Clear All</span> 
                        </div>
                        <app-funnel-chart></app-funnel-chart>
                        <!-- <div fxLayout="column" fxLayoutAlign="center center" class="grid-item-layout box-chart">
                            <img src="./assets/icons/Choose-KPI-for-Data-Visualization.svg" width="200" />
                            <span class="font-14px">Choose KPI for Data Visualization</span>
                        </div> -->
                    </div>

                    <div fxLayoutGap="20" fxLayoutAlign="end stretch" class="my-2">
                        <div fxLayout="row" fxLayoutAlign="start stretch"
                            class="grid-item-layout box-unique">
                            <div fxLayout="column" fxLayoutAlign="center start" class="grid-item-layout px-4" >
                                <span class="font-14px font-blue pt-2">Unique customer</span>
                                <span class="font-36px">400,000</span>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="center end" fxFlex class="grid-item-layout px-4">
                                <img src="./assets/icons/workspace-unique.svg" width="40" class="workspace-img"/>
                            </div>
                        </div>
                    </div>
                    <div fxLayoutAlign="end stretch" class="my-2">
                        <span class="font-14pxTotal">Total customer 45,220,892</span>
                    </div>

                    <div fxLayout="row" class="grid-item-layout mt-4 mb-4" fxLayoutAlign="end center"
                        fxLayoutAlign.lt-md="center center">
                        <div fxFlex="50" fxLayout="row" fxLayoutGap="20" fxLayoutAlign="start end"
                            class="grid-item-layout">
                            <button class="btn btn-calculate font-24px-b">
                                Calculate
                            </button>
                        </div>
                        <div fxFlex="50" fxLayout="row" fxLayoutGap="20" fxLayoutAlign="end end"
                            class="grid-item-layout">
                            <button class="btn btn-light font-24px-b">
                                Export
                            </button>
                            <button class="btn btn-blue font-24px-b" (click)="save()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>