<section>
  <div fxFill *ngFor="let item of subMenu" class="pb-3 border-close">

    <div *ngIf="item.ui == 'dropdown'">
      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>{{item.feature_name}}&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>{{item.description}}</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex="20" class="custom-from">
          <select [(ngModel)]="item.operator" class="form-select input-select-option font-10px"
            aria-label="Default select example">
            <option value="Is">Is</option>
            <option value="Not">Not</option>
          </select>
        </div>
        <div fxFlex>
          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <div fxLayout="row" type="text" class="input-selected-tag">
                  <div fxFlex="90">
                    <mat-label>
                      <mat-chip-list aria-label="age tags">
                        <mat-chip *ngFor="let tag of item.tagSelect" (removed)="deleteTag(tag, item)">
                          {{tag}}
                          <button matChipRemove>
                            <img src="./assets/icons/close-tag.svg" class="tag-icon">
                          </button>
                        </mat-chip>
                      </mat-chip-list>
                    </mat-label>
                  </div>
                  <div fxFlex>
                    <span id="dropdown-triggers" dropdownToggle class="btn btn-custom">
                      <img src="./assets/icons/dropdown-down.svg" width="8" height="8" />
                    </span>
                  </div>
                </div>
                <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
                  <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
                    <div fxLayout="row" class="grid-item-layout">
                      <img src="./assets/icons/search.svg" width="16" class="search-icon">
                      <input fxFill type="text" placeholder="Search" [(ngModel)]="item.search"
                        class="search-input font-14px" />
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout p-2">
                      <div fxFlex="50">
                        <span class="font-12px">{{item.feature_name}}</span>
                      </div>
                      <div *ngIf="item.search.length == 0" class="col-age" fxFlex>

                        <div *ngFor="let il of item.itemList" class="p-1">

                          <mat-checkbox [(ngModel)]="il.selected" (ngModelChange)="addTag(item)">
                            <span class="font-12px">{{ il.name }}</span>
                          </mat-checkbox>
                        </div>
                      </div>
                      <div *ngIf="item.search.length > 0" class="col-age" fxFlex>

                        <div *ngFor="let il of item.itemList!|featureSearchFilter: item.search" class="p-1">

                          <mat-checkbox [(ngModel)]="il.selected" (ngModelChange)="addTag(item)">
                            <span class="font-12px">{{ il.name }}</span>
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="item.ui == 'slider' || item.ui== 'slider with unknown'">
      <app-filter-slider [subSlider]="item"></app-filter-slider>
    </div>
    <div *ngIf="item.ui == 'location dropdown'">
      <!-- <app-filter-slider [subSlider]="item"></app-filter-slider> -->
    </div>
    <!-- <div *ngIf="item.ui == 'slider'">

      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>{{item.feature_name}}&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>{{item.description}}</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex>
          <div fxLayout="row" class="my-3">
            <mat-checkbox class="example-margin">Include Unknown</mat-checkbox>
          </div>

          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <ngx-slider [(value)]="item?.range_value[0]?" [(highValue)]="item?.range_value[1]?" [options]="slider1">
                </ngx-slider>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10" fxFill>
            <div fxFlex="50" class="header3 ">
              <span>Minimum</span>
            </div>
            <div fxFlex="50" class="header3 text-end">
              <span>Maximum</span>
            </div>
          </div>
        </div>
      </div>


    </div> -->


  </div>


  <!-- <div fxFill class="pb-3 border-close">
    <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
      <div fxFlex="50" class="header1 py-2">
        <span>Gender&nbsp;
          <span [popper]="popperContent_gender" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
            [popperPlacement]="placements.RIGHT">
            <img src="./assets/icons/info.svg" width="15" height="15" />
          </span>
        </span>
        <popper-content #popperContent_gender>
          <span>xxxxx</span><br />
        </popper-content>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <div fxLayout="row">
          <div fxFill class="text-end text-user">
            <span>20,000,000 users</span>
          </div>
          <div fxFlex></div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10" fxFill>
      <div fxFlex="20" class="custom-from">
        <select class="form-select input-select-option font-10px" aria-label="Default select example">
          <option value="1">Is</option>
          <option value="2" selected>Not</option>
        </select>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFill>
            <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
              [insideClick]='true' fxFill>
              <div type="text" class="input-selected-tag">
                <div fxFlex="90">
                  <mat-label>
                    <mat-chip-list aria-label="gender tags">
                      <mat-chip *ngFor="let tag of genderSelected" (removed)="removeTagGender(tag)">
                        {{tag}}
                        <button matChipRemove>
                          <img src="./assets/icons/close-tag.svg" class="tag-icon">
                        </button>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-label>
                </div>
                <div fxFlex>
                  <span id="dropdown-triggers" dropdownToggle class="btn btn-custom">
                    <img src="./assets/icons/dropdown-down.svg" width="8" height="8" />
                  </span>
                </div>
              </div>
              <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
                <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
                  <div fxLayout="row" class="grid-item-layout">
                    <img src="./assets/icons/search.svg" width="16" class="search-icon">
                    <input fxFill type="text" placeholder="Search" class="search-input font-14px" />
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout p-2">
                    <div fxFlex="50">
                      <span class="font-12px">Gender</span>
                    </div>
                    <div class="col-age" fxFlex>
                      <div *ngFor="let item of genderList" class="p-1">
                        <mat-checkbox [(ngModel)]="item.selected"
                          (ngModelChange)="selectGenderList(item.name,item.value)">
                          <span class="font-12px">{{ item.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
            <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div fxLayout="row" fxLayoutGap="10" fxFill>
    <!-- <div class="add-criterion" fxLayoutAlign="end end">
      <span>+ Add Criterion</span>
    </div> -->
    <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
      [insideClick]='true' fxFill>
      <div class="add-criterion" fxLayoutAlign="start end">
        <span dropdownToggle class="btn btn-custom">+ Add Criterion</span>
      </div>
      <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
        <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
          <div fxLayout="row" class="grid-item-layout">
            <img src="./assets/icons/search.svg" width="16" class="search-icon">
            <input type="text" placeholder="Search" [formControl]="myControl" class="search-input">
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout">
            <div fxFlex class="mt-2">
              <div *ngFor="let option of options" class="col-age">
                <span (click)="criterion(option)">{{option}}</span>
              </div>
              <div [ngStyle]="{'display': options === null ? 'none' : 'block'}" fxLayout="row"
                fxLayoutAlign="center center" class="grid-item-layout search-already">
                <span>KPI is already used</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>