<div fxLayout="row" class="grid-item full-height">
    <div fxLayout="column" fxFlex>
        <div class="grid-item-layout">
            <div class="p-4">
                <img src="../../../../assets/icons/logo-ac-insight.svg" />
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch" fxFlex>
            <div fxLayoutAlign="center center" class="grid-item-layout p-5">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center p-4">
                    <div>
                        <img src="../../../../assets/icons/kpi-by-product.svg" width="180" />
                    </div>
                    <span class="font-18px">You looking for</span>
                    <span class="font-42px">
                        <font class="font-blue">KPI</font> by Product?
                    </span>
                    <span class="font-14px mt-3">Can you tell me a little more about your industry.</span>
                </div>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch" class="grid-item-layout p-5">
                <div fxLayout="column" class="text-start p-4">
                    <!-- <div *ngFor="let item of kpiList; let i = index">
                        <div fxLayout="row" fxLayoutGap="20" class="grid-item-layout">
                            <div class="grid-item-layout">
                                <img src="{{ item.image }}" width="50" />
                            </div>
                            <div fxLayout="column" class="grid-item-layout">
                                <span>{{ item.name }}</span>
                                <span>{{ item.desc }}</span>
                            </div>
                        </div>
                    </div> -->


                    <main class="grid-item-layout-collapse">
                        <article class="grid-item-layout-collapse" *ngFor="let item of kpiList; let i = index">
                            <div class="collapse-title" (click)="isCollapsed=i">
                                <div fxLayout="row" fxLayoutGap="20" class="grid-item-layout-collapse">
                                    <div class="grid-item-layout-collapse">
                                        <img src="{{ item.image }}" width="50" />
                                    </div>
                                    <div fxLayout="column" class="grid-item-layout-collapse">
                                        <span>{{ item.name }}</span>
                                        <span>{{ item.desc }}</span>
                                    </div>
                                </div>
                                <span class="collapse-title-expand-indicator">
                                    <img class="collapse-icon" src="../../../assets/icons/arrow_collapse.svg"
                                        alt="plus-icon"
                                        [ngStyle]="{'transform': isCollapsed == i ? 'rotateZ(90deg)' : 'rotateZ(0deg)'}">
                                </span>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20" class="grid-item-layout-collapse collapse-title">
                                <div class="grid-item-layout-collapse">
                                    <img width="50" />
                                </div>
                                <div fxLayout="column">
                                    <!-- <div class="grid-item-layout-collapse" collapseContent #content="collapseContent"> -->
                                    <div class="grid-item-layout-collapse" [id]="'collapseViewMore-' + i"
                                        [collapse]="i!==isCollapsed">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa impedit harum
                                        quae at quos
                                        dolorum veniam quasi culpa commodi. Quaerat adipisci facere temporibus, quod
                                        corporis
                                        soluta voluptates quam doloremque consequatur.
                                        Lorem ipsum, architecto in nam exercitationem praesentium, magni ratione
                                        voluptatibus
                                        nobis. Dolores, unde.
                                    </div>
                                </div>
                            </div>


                        </article>
                    </main>



                    <!-- <ng-container *ngFor="let item of items; let i = index;">
                        <button type="button" class="btn btn-primary" (click)="isCollapsed=i">Toggle collapse</button>
                        <hr>
                        <div [id]="'collapseViewMore-' + i" [collapse]="i!==isCollapsed"
                            class="card card-block card-header">
                            <div class="well well-lg">{{ item }} </div>
                        </div>
                    </ng-container> -->



                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center stretch" fxLayoutGap="20" class="p-4">
                    <div fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center" fxFlex="40">
                        <button class="btn btn-light font-16px px-4">
                            <img src="../../../../assets/icons/arrow-left.svg" class="float-left" />
                            Back
                        </button>
                    </div>
                    <div fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center" fxFlex="40">
                        <button class="btn btn-blue font-16px px-4">
                            Next
                            <img src="../../../../assets/icons/arrow-right.svg" class="float-right" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>