@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
}

.grid-item {
  background-color: lightsalmon;
}

.grid-item-layout {
  background-color: cadetblue;
  border: 1px solid #ffffff;
}

.grid-item-layout-collapse {
  background-color: #ffffff;
  border: 0.8px solid #9a9a9a;
  border-radius: 5px;
}

.font-12px {
  @include font-format(400, 12px, 16px, #020202);
}

.font-14px {
  @include font-format(400, 14px, 18px, #9a9a9a);
}

.font-16px {
  @include font-format(700, 16px, 18px, #ffffff);
}

.font-18px {
  @include font-format(500, 24px, 18px, #020202);
}

.font-20px {
  @include font-format(700, 20px, 20px, #020202);
}

.font-42px {
  @include font-format(800, 42px, 57px, #020202);
}

.font-blue {
  color: rgba(73, 29, 197, 1);
}

.btn-light {
  background: #ffffff;
  color: #491dc5 !important;
  border: 2px solid #491dc5;
  border-radius: 5px;
  height: 45px;
  min-width: 90%;
  padding-right: 2rem !important;
}

.btn-blue {
  background: #491dc5;
  border-radius: 5px;
  height: 45px;
  min-width: 90%;
  padding-left: 2rem !important;
}

.project-name {
  background: #ffffff;
  border: 1px solid #808080;
  border-radius: 5px;
}

.m-rem-8 {
  margin: 8rem;
}

input:focus {
  outline: none !important;
}

::placeholder {
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
  opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
}

.full-height {
  min-height: 100vh;
}

img.float-left {
  float: left !important;
}

img.float-right {
  float: right !important;
}

/* Add application styles & imports to this file! */
/* You can add global styles to this file, and also import other style files */

.collapse:not(.show) {
  display: none;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.collapse-title {
  position: relative;
  padding: 1rem 3.5rem 1rem 1rem;
  cursor: pointer;
  background-color: var(--color-strata-yellow-1);
  //   background-color: #fcd869;
  &.collapsed {
    // background-color: #fef1c9;
  }
  &-expand-indicator {
    position: absolute;
    top: 20px;
    right: 1rem;
    transform: translateY(-50%);
    .collapse-icon {
      transition: transform 0.35s ease;
    }
  }
  //   &:not(.collapsed) {
  .collapse-icon {
    transition: transform 0.35s ease;
    transform: rotateZ(90deg);
  }
  //   }
}
