$heavent-bold: DB Heavent Bd;
$heavent-reg: DB Heavent Reg;
$heavent-normal: DB Heavent Nor;
@mixin font-format($font, $weight, $size, $height, $hexcolor) {
  font-family: $font !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor !important;
}

// .grid-item {
//   background-color: lightsalmon;
// }

// .grid-item-layout {
//   background-color: cadetblue;
//   border: 1px solid #ffffff;
// }

.grid-item-layout-collapse {
  background-color: #ffffff;
  // border: 0.8px solid #9a9a9a;
  border-radius: 5px;
}

.kpi-layout {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.font-16px {
  @include font-format($heavent-reg, 400, 16px, 15px, #000000);
}

.font-18px {
  @include font-format($heavent-normal, 400, 18px, 18px, #9A9A9A);
}

.font-24back {
  @include font-format($heavent-normal, 700, 24px, 20px, #491DC5);
}

.font-24next {
  @include font-format($heavent-normal, 700, 24px, 20px, #FFFFFF);
}

.font-32px {
  @include font-format($heavent-bold, 700, 32px, 30px, #020202);
}

.font-64px {
  @include font-format($heavent-bold, 700, 64px, 60px, #020202);
}

.font-blue {
  @include font-format($heavent-bold, 700, 64px, 60px, #491DC5);
}

.btn-light {
  background: #ffffff;
  color: #491dc5 !important;
  border: 2px solid #491dc5;
  border-radius: 5px;
  height: 44px;
  width: 152px;
  padding-right: 1rem;
  margin-top: 2rem;
}
.btn-light:hover {
  background: #EDE8F9;
  border: 2px solid #491dc5;
}
.btn-blue {
  background: #491dc5;
  border-radius: 5px;
  height: 44px;
  width: 152px;
  padding-left: 1rem;
  margin-top: 2rem;
}
.btn-blue:hover {
  background: #3B189E;
}

.icon-back {
  width: 6.45px;
  margin-right: 6.15px;
}
.icon-next {
  width: 6.45px;
  margin-left: 6.15px;
}

input:focus {
  outline: none !important;
}

::placeholder {
  @include font-format($heavent-bold, 400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
  opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @include font-format($heavent-bold, 400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  @include font-format($heavent-bold, 400, 14px, 19px, rgba(53, 53, 53, 0.32));
  color: rgba(53, 53, 53, 0.32) !important;
}

.collapse-title {
  position: relative;
  padding: 2rem 3.5rem 2rem 2rem;
  cursor: pointer;
  &-expand-indicator {
    position: absolute;
    top: 35px;
    right: 1.5rem;
    transform: translateY(-50%);
  }
  .collapse-icon {
    transition: transform 0.35s ease;
    transform: rotateZ(0deg);
  }
}
.collapse-sub-title {
  position: relative;
  padding: 0 3.5rem 2rem 2rem;
  margin-top: -1rem;
  &-expand-indicator {
    position: absolute;
    top: 35px;
    right: 1.5rem;
    transform: translateY(-50%);
  }
  .collapse-icon {
    transition: transform 0.35s ease;
    transform: rotateZ(0deg);
  }
}

.expand-selected {
  float: right;
  margin-top: -0.8rem;
  margin-right: -0.8rem;
}

:host::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #b6a5e8 !important;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
}
:host::ng-deep .mat-checkbox-frame {
  background-color: #e6e6e6 !important;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
  border: 0 !important;
}
:host::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #b6a5e8 !important;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
}
:host::ng-deep .mat-checkbox-background {
  background-color: #e6e6e6 !important;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
}
:host::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  margin-left: 1rem !important;
}
:host::ng-deep .mat-checkbox .mat-checkbox-ripple {
  height: auto !important;
  width: auto !important;
}
:host::ng-deep .mat-checkbox-inner-container {
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
}
:host::ng-deep .mat-checkbox-checkmark-path {
  stroke: #491dc5 !important;
}
:host::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark-path {
  stroke-dashoffset: 3 !important;
  stroke-linecap: round !important;
  stroke-linejoin: bevel !important;
  stroke-width: 2.5 !important;
}

.border-bottom-dashed {
  border-bottom: 0.5px dashed rgba(103, 103, 103, 0.4);
}

::ng-deep .navbar-logo {
  background-image: repeating-linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8) 200%,
    rgba(255, 255, 255, 0.1) 10%
  ) !important;
}
