<div fxLayout="row" fxLayoutAlign="start stretch" class="grid-item navbar-logo p-1 px-5">
    <div class="grid-item-layout">
        <img src="./assets/icons/logo-ac-insight.svg" />
    </div>
    <div fxLayout="row" fxLayoutGap="15" fxLayoutAlign="end center" fxFlex class="grid-item-layout">
        <img src="./assets/icons/jessica-profile.svg" width="35" />
        <span class="username">{{ userName }}</span>
        <img src="./assets/icons/navbar-arrow.svg" mat-button [matMenuTriggerFor]="menu" style="cursor: pointer">
    </div>
</div>

<mat-menu #menu="matMenu" class="mat-container">

    <a mat-menu-item class="logout mx-2" (click)="logout()"><img src="./assets/icons/logout.svg" width="8px"
            height="6.86px"><span class="px-2">Logout </span> </a>


</mat-menu>