$heavent-bold: DB Heavent Bd;
$heavent-reg: DB Heavent Reg;
@mixin font-format($font, $weight, $size, $height, $hexcolor) {
  font-family: $font !important;
  font-style: normal;
  //font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor !important;
}

// .grid-item {
//   background-color: lightsalmon;
// }

// .grid-item-layout {
//   background-color: cadetblue;
//   border: 1px solid #ffffff;
// }

.navbar-logo {
  z-index: 1;
  position: sticky !important;
  top: 0;
  width: 100%;
  background-image: repeating-linear-gradient(
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8) 200%,
    rgba(255, 255, 255, 0.1) 10%
  );
}

.username {
  @include font-format($heavent-bold, 700, 24px, 100%, #020202);
}
// ::ng-deep .mat-menu-panel {
//   min-width: 112px;
//   max-width: 280px;
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
//   max-height: calc(100vh - 48px);
//   border-radius: 4px;
//   outline: 0;
//   min-height: 34px !important;
//   overflow: hidden !important;
// }
// ::ng-deep .mat-menu-content {
//   height: 20px;
// }
.mat-menu-content {
  width: 88px;
  // height: 40px;
  padding: 0px;
}
// ::ng-deep .mat-menu-content{
//   padding:0px !important;
// }

.logout {
  @include font-format($heavent-bold, 700, 14px, 17px, #491dc5);
}
