<section>
  <div fxFill class="pb-3">
    <div fxLayout="row" fxLayoutGap="10" fxFill>
      <div fxFlex="20" class="header1 py-2">
        <span>Age&nbsp;
          <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
            [popperPlacement]="placements.RIGHT">
            <img src="./assets/icons/info.svg" width="15" height="15" />
          </span>
        </span>
        <popper-content #popperContent_age>
          <span>xxxxx</span><br />
        </popper-content>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <div fxLayout="row">
          <div fxFill class="text-end header2">
            <span>0 users</span>
          </div>
          <div fxFlex></div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10" fxFill>
      <div fxFlex="20" class="custom-from">
        <select class="form-select input-select-option font-10px" aria-label="Default select example">
          <option value="1" selected>Is</option>
          <option value="2">Not</option>
        </select>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFill>
            <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
              [insideClick]='true' fxFill>
              <div fxLayout="row" type="text" class="input-selected-tag">
                <div fxFlex="90">
                  <mat-label>
                    <mat-chip-list aria-label="age tags">
                      <mat-chip *ngFor="let tag of ageSelected" (removed)="removeTagAge(tag)">
                        {{tag}}
                        <button matChipRemove>
                          <img src="./assets/icons/close-tag.svg" class="tag-icon">
                        </button>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-label>
                </div>
                <div fxFlex>
                  <span id="dropdown-triggers" dropdownToggle class="btn btn-custom">
                    <img src="./assets/icons/dropdown-down.svg" width="8" height="8" />
                  </span>
                </div>
              </div>
              <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
                <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
                  <div fxLayout="row" class="grid-item-layout">
                    <img src="./assets/icons/search.svg" width="16" class="search-icon">
                    <input fxFill type="text" placeholder="Search" class="search-input font-14px" />
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout p-2">
                    <div fxFlex="50">
                      <span class="font-12px">Age</span>
                    </div>
                    <div class="col-age" fxFlex>
                      <div *ngFor="let item of ageList" class="p-1">
                        <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="selectAgeList(item.name,item.value)">
                          <span class="font-12px">{{ item.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
            <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFill class="pb-3 border-close">
    <div fxLayout="row" fxLayoutGap="10" fxFill>
      <div fxFlex="20" class="header1 py-2">
        <span>Gender&nbsp;
          <span [popper]="popperContent_gender" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
            [popperPlacement]="placements.RIGHT">
            <img src="./assets/icons/info.svg" width="15" height="15" />
          </span>
        </span>
        <popper-content #popperContent_gender>
          <span>xxxxx</span><br />
        </popper-content>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <div fxLayout="row">
          <div fxFill class="text-end header2">
            <span>20,000,000 users</span>
          </div>
          <div fxFlex></div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10" fxFill>
      <div fxFlex="20" class="custom-from">
        <select class="form-select input-select-option font-10px" aria-label="Default select example">
          <option value="1">Is</option>
          <option value="2" selected>Not</option>
        </select>
      </div>
      <div fxFlex>
        <div fxLayout="row">
          <div fxFill>
            <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
              [insideClick]='true' fxFill>
              <div type="text" class="input-selected-tag">
                <div fxFlex="90">
                  <mat-label>
                    <mat-chip-list aria-label="gender tags">
                      <mat-chip *ngFor="let tag of genderSelected" (removed)="removeTagGender(tag)">
                        {{tag}}
                        <button matChipRemove>
                          <img src="./assets/icons/close-tag.svg" class="tag-icon">
                        </button>
                      </mat-chip>
                    </mat-chip-list>
                  </mat-label>
                </div>
                <div fxFlex>
                  <span id="dropdown-triggers" dropdownToggle class="btn btn-custom">
                    <img src="./assets/icons/dropdown-down.svg" width="8" height="8" />
                  </span>
                </div>
              </div>
              <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
                <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
                  <div fxLayout="row" class="grid-item-layout">
                    <img src="./assets/icons/search.svg" width="16" class="search-icon">
                    <input fxFill type="text" placeholder="Search" class="search-input font-14px" />
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout p-2">
                    <div fxFlex="50">
                      <span class="font-12px">Gender</span>
                    </div>
                    <div class="col-age" fxFlex>
                      <div *ngFor="let item of genderList" class="p-1">
                        <mat-checkbox [(ngModel)]="item.selected"
                          (ngModelChange)="selectGenderList(item.name,item.value)">
                          <span class="font-12px">{{ item.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
            <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>