<div fxLayout="column" fxLayoutGap="10px" class="container">
  <div fxLayout="row" fxFlex="10%" class="block-1">

    <div fxFlex fxLayoutAlign="start center" fxFlexFill class="grid-item header1">Age</div>
    <div fxFlex fxLayoutAlign="end center" fxFlexFill class="grid-item header2">0 users</div>

  </div>
  <div fxLayout="row" fxFlex="50%" class="block-1" fxLayoutGap="10px">

    <div fxFlex.gt-sm="10%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <select class="form-select" aria-label="Default select example">
        <option value="1" selected>Is</option>
        <option value="2">Not</option>
      </select>
    </div>
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">

      <div fxFlex fxLayout="column" class="selection-container">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="grid-item-layout">
          <img class="" src="./assets/icons/search.svg" width="16" style="margin-right: 
                -2.0rem !important;
                z-index: 5;">
          <input fxFlexFill type="text" placeholder="Search" class="px-5 my-2 mx-2 search-nav " />
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="grid-item-layout">
          <div class="col-6">
            <p>Age</p>
          </div>
          <div class="col-6 col-age">
            <div *ngFor="let item of ageList" class="p-1">
              <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="selectAgeList(item.name,item.value)">
                {{ item.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.gt-sm="10%" fxFlex.lt-md="50%" fxLayoutAlign="start center" fxFlexFill class="grid-item">
      <img src="./assets/icons/delete.svg" (click)="deleteSelector()" class="del-icon">
    </div>
  </div>
  <div fxLayout="row" fxFlex="10%" class="block-1">

    <div fxFlex fxLayoutAlign="start center" fxFlexFill class="grid-item header1">Gender</div>
    <div fxFlex fxLayoutAlign="end center" fxFlexFill class="grid-item header2">20,000,000 users</div>

  </div>
  <div fxLayout="row" fxFlex="50%" class="block-1" fxLayoutGap="10px">

    <div fxFlex.gt-sm="10%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
      <select class="form-select" aria-label="Default select example">
        <option value="1">Is</option>
        <option value="2" selected>Not</option>
      </select>
    </div>
    <div fxFlex.gt-sm="80%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">

      <div fxFlex fxLayout="column" class="selection-container">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="grid-item-layout">
          <img class="" src="./assets/icons/search.svg" width="16" style="margin-right: 
                -2.0rem !important;
                z-index: 5;">
          <input fxFlexFill type="text" placeholder="Search" class="px-5 my-2 mx-2 search-nav " />
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="grid-item-layout">
          <div class="col-6">
            <p>Gender</p>
          </div>
          <div class="col-6 col-age">
            <div *ngFor="let item of genderList" class="p-1">
              <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="selectGenderList(item.name,item.value)">
                {{ item.name }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.gt-sm="10%" fxFlex.lt-md="50%" fxLayoutAlign="start center" fxFlexFill class="grid-item">
      <img src="./assets/icons/delete.svg" (click)="deleteSelector()" class="del-icon">
    </div>
  </div>
  <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">B</div>
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">C</div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxFlex="33%" class="block-3">
    <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">D</div>
    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">E</div>
  </div> -->
</div>