@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor;
}

.container {
  padding: 5px;
  height: 100vh;
}

.grid-item {
  background-color: lightsalmon;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
}
.header1 {
  @include font-format(400, 16px, 22px, #000000);
}
.header2 {
  @include font-format(400, 10px, 14px, #1b1b1b);
}
.filter-lable {
  text-align: end;
  padding-right: 10px;
}
.selection-container {
  width: 100%;
  background-color: olivedrab;
}
.col-age {
  border-left: 0.7px solid #e6e6e6;
}
.del-icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.search-nav {
}

.tag-input {
  width: 100%;
}
.row-between {
  justify-content: end;
}
.col-bg {
  background: greenyellow;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #491dc5 !important;
}
