@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor !important;
}

.grid-item {
  background-color: lightsalmon;
}

.grid-item-layout {
  background-color: cadetblue;
  border: 1px solid #ffffff;
}

.font-14px {
  @include font-format(400, 14px, 19px, #adadad);
}
.font-16px-b {
  @include font-format(700, 16px, 18px, #ffffff);
}
.font-16px {
  @include font-format(500, 16px, 22px, #020202);
}
.font-18px {
  @include font-format(500, 24px, 18px, #020202);
}
.font-20px {
  @include font-format(700, 20px, 20px, #020202);
}
.font-42px {
  @include font-format(800, 42px, 57px, #020202);
}
.font-44px {
  @include font-format(800, 32px, 44px, #020202);
}
.font-blue {
  color: rgba(73, 29, 197, 1) !important;
}

.btn-light {
  background: #ffffff;
  color: #9a9a9a !important;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  height: 45px;
  width: 100%;
}
.btn-blue {
  background: #9a9a9a;
  border-radius: 5px;
  height: 45px;
  width: 100%;
}

input:focus {
  outline: none !important;
}

::placeholder {
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
  opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  @include font-format(400, 14px, 19px, rgba(53, 53, 53, 0.32));
}

::ng-deep .navbar-logo {
  background-image: none !important;
  background-color: #f0f0f0 !important;
}

.box {
  &-left {
    background-color: #f0f0f0;
  }
  &-right-top {
    margin-top: -0.8rem;
  }
  &-right-bottom {
    background: #ffffff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
}

.border {
  &-default {
    border: 1.60315px solid #606060;
    border-radius: 5px;
    background: #ffffff;
  }
  &-blue {
    border: 1.60315px solid #491dc5;
    border-radius: 5px;
    background: #ffffff;
  }
}

.min {
  &-height {
    min-height: 452px;
  }
}
