<div class="container body">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="./assets/icons/workspace-save-success.svg" width="130" />
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <label class="header-text">Successfully Saved! </label>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <label class="description-text" align="center">Your project was successfully saved.</label>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="btn btn-done" style="margin-right: 12px" (click)="done()">
                Done
            </div>
        </div>
    </div>
</div>