@mixin font-format($weight, $size, $height, $hexcolor) {
  font-family: Noto Sans, sans-serif !important;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $hexcolor !important;
}

.body {
  background-color: #ffffff !important;
  border: 1.01124px solid #491dc5;
  box-shadow: 20px 20px 80px rgba(73, 29, 197, 0.2);
  border-radius: 8px;
}

.header-text {
  @include font-format(700, 24px, 25px, #491dc5);
  padding-bottom: 20px;
  padding-top: 30px;
}

.description-text {
  @include font-format(400, 14px, 22px, #676767);
  padding-bottom: 30px;
  word-break: break-all;
}

.btn-cancel {
  font-family: DB Heavent Bd !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #491dc5;

  background: #ffffff;
  border: 2px solid #491dc5;
  border-radius: 4px;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-delete {
  font-family: DB Heavent Bd !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;

  background: #da5b49;
  border-radius: 4px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-delete:hover {
    background: #AF493B;
}

.btn-cancel:hover{
    background: #EDE8F9;
}