<section>
  <div fxFill class="pb-3">
    <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
      <div fxFlex="50" class="header1 py-2">
        <span>{{subSlider?.feature_name!}}&nbsp;
          <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
            [popperPlacement]="placements.RIGHT">
            <img src="./assets/icons/info.svg" width="15" height="15" />
          </span>
        </span>
        <popper-content #popperContent_age>
          <span class="tooltip-des">{{subSlider?.description!}}</span><br />
        </popper-content>
      </div>
      <div fxFlex fxLayoutAlign="end center">
        <div fxLayout="row">
          <div fxFill class="text-end text-user">
            <span>{{updateUser(subSlider?.feature_name!)}}</span>
          </div>
          <div fxFlex></div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="10" fxFill class="pb-3 border-close">
      <div fxFlex>
        <div *ngIf="subSlider?.ui== 'slider with unknown'" fxLayout="row" class="my-3">
          <mat-checkbox class="example-margin" (change)="checkBoxUnknow($event)">Include Unknown</mat-checkbox>
        </div>

        <div fxLayout="row">
          <div fxFill>
            <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
              [insideClick]='true' fxFill>
              <!-- <ngx-slider [(value)]="subSlider?.range_value[0]!" [(highValue)]="subSlider?.range_value[1]!"
                [options]="slider1"></ngx-slider> -->
              <ngx-slider [(value)]="lowValue" [(highValue)]="highValue" [options]="sliderOption"
                (valueChange)="sliderChange()" (highValueChange)="sliderChange()"></ngx-slider>
            </div>
          </div>
          <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
            <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10" fxFill>
          <div fxFlex="50" class="header3 ">
            <span>Minimum</span>
          </div>
          <div fxFlex="50" class="header3 text-end">
            <span>Maximum</span>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- <div fxFill class="pb-3 border-close">
      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>Digital Spending Score&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>xxxxx</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex>
          <div fxLayout="row" class="my-3">
            <mat-checkbox class="example-margin">Include Unknown</mat-checkbox>
          </div>

          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <ngx-slider [(value)]="lowValue2" [(highValue)]="highValue2" [options]="slider2"></ngx-slider>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10" fxFill>
            <div fxFlex="50" class="header3 ">
              <span>Minimum</span>
            </div>
            <div fxFlex="50" class="header3 text-end">
              <span>Maximum</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div fxFill class="pb-3 border-close">
      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>Digital Spending Score&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>xxxxx</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex>
          <div fxLayout="row" class="my-3">
            <mat-checkbox class="example-margin">Include Unknown</mat-checkbox>
          </div>

          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <ngx-slider [(value)]="lowValue2" [(highValue)]="highValue2" [options]="slider2"></ngx-slider>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10" fxFill>
            <div fxFlex="50" class="header3 ">
              <span>Minimum</span>
            </div>
            <div fxFlex="50" class="header3 text-end">
              <span>Maximum</span>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div fxFill class="pb-3 border-close">
      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>Digital Spending Score&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>xxxxx</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex>
          <div fxLayout="row" class="my-3">
            <mat-checkbox class="example-margin">Include Unknown</mat-checkbox>
          </div>

          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <ngx-slider [(value)]="lowValue2" [(highValue)]="highValue2" [options]="slider2"></ngx-slider>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10" fxFill>
            <div fxFlex="50" class="header3 ">
              <span>Minimum</span>
            </div>
            <div fxFlex="50" class="header3 text-end">
              <span>Maximum</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxFill class="pb-3 border-close">
      <div fxLayout="row" fxLayoutGap="10" fxFill class="mt-3">
        <div fxFlex="50" class="header1 py-2">
          <span>Digital Spending Score&nbsp;
            <span [popper]="popperContent_age" [popperTrigger]="triggers.hover" [popperModifiers]="offsetModifiers"
              [popperPlacement]="placements.RIGHT">
              <img src="./assets/icons/info.svg" width="15" height="15" />
            </span>
          </span>
          <popper-content #popperContent_age>
            <span>xxxxx</span><br />
          </popper-content>
        </div>
        <div fxFlex fxLayoutAlign="end center">
          <div fxLayout="row">
            <div fxFill class="text-end text-user">
              <span>0 users</span>
            </div>
            <div fxFlex></div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10" fxFill>
        <div fxFlex>
          <div fxLayout="row" class="my-3">
            <mat-checkbox class="example-margin">Include Unknown</mat-checkbox>
          </div>

          <div fxLayout="row">
            <div fxFill>
              <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown"
                [autoClose]="true" [insideClick]='true' fxFill>
                <ngx-slider [(value)]="lowValue2" [(highValue)]="highValue2" [options]="slider2"></ngx-slider>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="start center" class="px-2 h-30">
              <img src="./assets/icons/delete.svg" width="20" (click)="deleteSelector()" class="del-icon">
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10" fxFill>
            <div fxFlex="50" class="header3 ">
              <span>Minimum</span>
            </div>
            <div fxFlex="50" class="header3 text-end">
              <span>Maximum</span>
            </div>
          </div>
        </div>
      </div>
    </div>
     
    <div fxLayout="column" class="btn-group custom-dropdown" dropdown dropdown="bs-dropdown" [autoClose]="true"
      [insideClick]='true' fxFill>
      <div class="add-criterion" fxLayoutAlign="start end">
        <span dropdownToggle class="btn btn-custom">+ Add Criterion</span>
      </div>
      <div *dropdownMenu class="dropdown-menu w-100" role="menu" aria="dropdown-triggers">
        <div fxFill fxLayout="column" class="selection-container p-2 pt-0 pb-0">
          <div fxLayout="row" class="grid-item-layout">
            <img src="./assets/icons/search.svg" width="16" class="search-icon">
            <input type="text" placeholder="Search" [formControl]="myControl" class="search-input">
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" class="grid-item-layout">
            <div fxFlex class="mt-2">
              <div *ngFor="let option of filteredOptions | async" class="col-age">
                <span (click)="criterion(option)">{{option}}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
   -->


</section>